.div {
    border: royalblue 3px solid;
    border-radius: 15px;
    margin: auto;
    margin-top: 20px;
    width: 500px;
    align-self: center;
}

.text {
    text-align: center;
}

.Form {
    display: flex;
    flex-direction: column;
}

.Input {
    width: 400px;
    align-self: center;
    margin-bottom: 10px;
}

.Button {
    width: 100px;
    height: 30px;
    align-self: center;
    margin-bottom: 10px;
    background-color: royalblue;
    border: royalblue 1px solid;
    color: whitesmoke;
    border-radius: 15px;
}

.centerButton {
    margin-top: 20px;
    display: flex;
}

.toggle {
    width: 100px;
    height: 35px;
    background-color: green;
    border: green 1px solid;
    border-radius: 15px;
    color: whitesmoke;
    text-align: center;
    margin: auto;
    font-weight: bold;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.delete {
    width: 100px;
    height: 30px;
    background-color: red;
    border: red 1px solid;
    border-radius: 15px;
    color: whitesmoke;
    margin-bottom: 10px;
    font-weight: bold;
}

.update {
    width: 100px;
    height: 30px;
    background-color: green;
    border: green 1px solid;
    border-radius: 15px;
    color: whitesmoke;
    margin-bottom: 10px;
    font-weight: bold;
}
